.main-body {
  width: 100%;
}

.title-header {
  text-align: center;
  color: #252f3e;
  p {
    font-style: italic;
    margin-top: -20px;
  }
}

.grid-container {
  max-width: 84rem;
}

.tile {
  margin: 1.5% 1.5%;
  display: inline-block;
  width: 30%;
}
.tile:hover{
  cursor: pointer;
}
.tile.tile-lg {
  width: 63%;
}

.top-bar {
  margin: 2.5% 1.5% 0;
  app-filters, button {
    display: inline-block;
  }
  app-filters {
    width: 87%;
  }
}

.loading-screen {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  color: gray;
  margin: 28%;
}

.interactive-icon {
  visibility: hidden;
  display: inline-block;
  text-align: right;
}

.control-bar {
  margin-left: 6%;
  margin-bottom: 2%;
}

mat-card:hover {
  .interactive-icon {
    visibility: initial;
  }
}

@media screen and (max-width: 860px) {
  .tile {
    width: 100%;
  }
  .tile.tile-lg {
    width: 100%;;
  }
}