<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="title-header">
  <h1>Dashboard</h1>
  <p>An overview of Opportunity Data</p>
</div>
<main class="main-body grid-container">
  <div class="grid-row">
    <div class="grid-col-12 top-bar">
      <app-filters [setDateRange]="setDate" [setOrgList]="orgList" (filterChange)="onFilterValueChange($event)">
      </app-filters>
    </div>
  </div>
  <div class="grid-row">
    <mat-card class="mat-elevation-z8 grid-col-3 tile">
      <app-piechart *ngIf="!loading; else loadingScreen" [data]="piechart1Data" [chartId]="'piechart1'"
        [chartTitle]="'Opportunities by Status'" (clickEvent)="onChartClick('piechart1', $event)">
      </app-piechart>
      <mat-card-footer>
        <div class="control-bar">
          <fa-icon [icon]="['fas', 'search-plus']" class="interactive-icon" title="Expand View" (click)="onViewDetails('piechart','', 'Opportunities by Status', piechart1Data)">View Details</fa-icon>
        </div>
      </mat-card-footer>
    </mat-card>

    <mat-card class="mat-elevation-z8 grid-col-3 tile">
      <app-piechart *ngIf="!loading; else loadingScreen" [data]="piechart2Data" [chartId]="'piechart2'"
        [chartTitle]="'Opportunities by Type'">
      </app-piechart>
      <mat-card-footer>
        <div class="control-bar">
          <fa-icon [icon]="['fas', 'search-plus']" class="interactive-icon" title="Expand View" (click)="onViewDetails('piechart', 'getOppTypesByStatus', 'Opportunities by Type', piechart2Data)">View Details</fa-icon>
        </div>
      </mat-card-footer>
    </mat-card>

    <mat-card class="mat-elevation-z8 grid-col-3 tile">
      <app-barchart *ngIf="!loading; else loadingScreen" [data]="barchart1Data"
        [chartId]="'barchart1'"
        [chartTitle]="'Top 10 Organizations by Opportunity Volume'">
      </app-barchart>
      <mat-card-footer>
        <div class="control-bar">
          <fa-icon [icon]="['fas', 'search-plus']" class="interactive-icon" title="Expand View" (click)="onViewDetails('barchart', '', 'Top 10 Organizations by Opportunity Volume', barchart1Data)">View Details</fa-icon>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="grid-row">
    <mat-card class="mat-elevation-z8 grid-col-3 tile">
      <app-barchart *ngIf="!loading; else loadingScreen" [data]="barchart2Data" [chartTitle]="'Opportunities by top 10 NAICS Code'" [chartId]="'barchart2'">
      </app-barchart>
      <mat-card-footer>
        <div class="control-bar">
          <fa-icon [icon]="['fas', 'search-plus']" class="interactive-icon" title="Expand View" (click)="onViewDetails('barchart', '', 'Opportunities by top 10 NAICS Code', barchart2Data)">View Details</fa-icon>
        </div>
      </mat-card-footer>
    </mat-card>

    <mat-card class="mat-elevation-z8 grid-col-3 tile">
      <app-barchart *ngIf="!loading; else loadingScreen" [data]="barchart3Data" [chartId]="'barchart3'" [chartTitle]="'Opportunities by top 10 Set Aside Code'">
      </app-barchart>
      <mat-card-footer>
        <div class="control-bar">
          <fa-icon [icon]="['fas', 'search-plus']" class="interactive-icon" title="Expand View" (click)="onViewDetails('barchart', '', 'Opportunities by top 10 Set Aside Code', barchart3Data)">View Details</fa-icon>
        </div>
      </mat-card-footer>
    </mat-card>

    <mat-card class="mat-elevation-z8 grid-col-3 tile">
      <app-barchart *ngIf="!loading; else loadingScreen" [data]="barchart4Data" [chartId]="'barchart4'"
        [chartTitle]="'Opportunities by top 10 Classification Code'">
      </app-barchart>
      <mat-card-footer>
        <div class="control-bar">
          <fa-icon [icon]="['fas', 'search-plus']" class="interactive-icon" title="Expand View" (click)="onViewDetails('barchart', 'getOppCountsByClassificationCode', 'Opportunities by top 10 Classification Code', barchart4Data)">View Details</fa-icon>
        </div>
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="grid-row">
    <mat-card class="mat-elevation-z8 grid-col-3 tile">
      <app-barchart *ngIf="!loading; else loadingScreen" [data]="barchart5Data" [chartId]="'barchart5'"
        [chartTitle]="'Opportunities by Year'">
      </app-barchart>
      <mat-card-footer>
        <div class="control-bar">
          <fa-icon [icon]="['fas', 'search-plus']" class="interactive-icon" title="Expand View" (click)="onViewDetails('barchart', '', 'Opportunities by Year', barchart4Data)">View Details</fa-icon>
        </div>
      </mat-card-footer>
    </mat-card>
    <mat-card class="mat-elevation-z8 grid-col-6 tile tile-lg">
      <app-geochart *ngIf="!loading; else loadingScreen" [chartTitle]="'Opportunities by Place of Performance (State)'"
        [data]="geochartData">
      </app-geochart>
    </mat-card>
  </div>

</main>

<ng-template #loadingScreen>
  <div class="loading-screen">Loading Data...</div>
</ng-template>