.main-body {
  width: 100%;
}

.tile {
  margin: 1.5% 1.5%;
  display: inline-block;
  width: 30%;
}
.tile:hover{
  cursor: pointer;
}
.tile.tile-lg {
  width: 63%;
}

.filter-bar {
  margin: 1.5%;
  text-align: center;
}

.loading-screen {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  color: gray;
  margin: 28%;
}