.main-body {
  width: 100%;
}

.grid-container {
  max-width: 84rem;
}

.tile {
  margin: 1.5% 1.5%;
  display: inline-block;
  width: 30%;
}
.tile:hover{
  cursor: pointer;
}
.tile.tile-lg {
  width: 63%;
}

.top-bar {
  margin: 2.5% 1.5% 0;
  app-filters, button {
    display: inline-block;
  }
  app-filters {
    width: 87%;
  }
}

.loading-screen {
  text-align: center;
  font-size: 1em;
  font-style: italic;
  color: gray;
  margin: 28%;
}

.download-icon {
  visibility: hidden;
  display: block;
  text-align: right;
}

mat-card:hover {
  .download-icon {
    visibility: initial;
  }
}

@media screen and (max-width: 860px) {
  .tile {
    width: 100%;
  }
  .tile.tile-lg {
    width: 100%;;
  }
}